@charset: "UTF-8";

:root{
	/*old light color: #00aabb;*/
	--light-color: Aqua;
	--dark-color: #10233a;
}

body{
	padding:0;
	margin:0;
	background-color: var(--dark-color);
}

h1{
	font-size: 50px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	color:var(--light-color);
	padding:0;
	margin:0;
}

#dashboard {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-template-rows: 500px 250px 100px;
	border: 1px solid var(--light-color);
	margin: 0 auto;
	/*margin:20px;*/
	width: 1000px;
	height: auto;
	background-color: var(--dark-color);
	border-radius: 10px;
}

.chart {
	height:100%;
	width: 100%;
}


#chart1{
	grid-column: span 2;
	background-color: red;
}

#chart2{
	grid-column: span 1;
	background-color: blue;
}

#chart3{
	background-color: yellow;
}

#controls{
	background-color: green;
	grid-column: span 2;
	text-align: center;
}
